/* This file contains the global styling of coach pizza */
/* All specific styles are declared in their dedicated files */

:root {
  --line-height: 1.25rem;
  --italian-green: #40914d;
  --italian-red: #be393b;
  --main-color: #777;
  background-color: white;
  --button-background-color: #f5e90c;
  --button-color: black;
}

html {
  font-family: system-ui, sans-serif;
  background: var(background-color);
  font-size: 16px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* disable double tap zoom */
  touch-action: manipulation;
}

body {
  line-height: var(--line-height);
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding-bottom: 6rem;
}

#main {
  display: flex;
  gap: 1rem;
  flex-direction: column;
}

button {
  margin-top: 1rem;
  background-color: var(--button-background-color);
  color: var(--button-color);
  border-radius: 0.5rem;
  width: 100%;
  border: none;
  font-weight: 600;
  font-size: 1.2rem;
  text-align: center;
  padding: 0.8rem;
}

.caption {
  color: #777;
  text-align: center;
  font-style: italic;
  font-weight: 300;
  font-size: 1rem;
}

/* About page styling */
section#about {
  padding: 1rem;
  font-size: 1.2rem;
  line-height: 150%;
  width: 90%;
  max-width: 40rem;
  margin: auto;
}

section#about p {
  margin-bottom: 2rem;
}

/* Ajuster la taille de base pour les écrans plus petits */
@media (max-width: 768px) {
  html {
    font-size: 14px;
  }
}

/* Ajuster la taille de base pour les écrans plus grands */
@media (min-width: 1440px) {
  html {
    font-size: 18px;
  }
}

.floatingchat-container-mobi,
.floatingchat-container {
  width: 40rem !important;
}
