---
import Layout from "../layouts/Layout.astro";
import InputNum from "../components/InputNum.astro";
import Modale from "../components/Modale.astro";
import Pizza from "../components/Pizza.astro";
import Overlay from "../components/Overlay.astro";
---

<Layout title="Pizza">
  <main>
    <div id="header">
      <Pizza />
      <h1>Pizza</h1>
      <Pizza />
    </div>
    <p>La pizza est une science, on ne rigole pas avec la science.</p>
    <form id="pizza">
      <!-- <h2>Saisie des paramètres</h2> -->
      <InputNum
        label="Poids des pâtons en g"
        id="weight"
        min="250"
        max="600"
        step="10"
      />
      <InputNum
        label="Nombre de pizzas"
        id="quantity"
        min="1"
        max="20"
        step="1"
      />
      <InputNum label="Eau en %" id="water" min="50" max="80" step="0.5" />
      <InputNum
        label="Huile d'olive en %"
        id="oil"
        min="0"
        max="5"
        step="0.5"
      />
      <InputNum
        label="Sel en %"
        id="salt"
        min="0"
        max="5"
        step="0.5"
        type="range"
      />
      <fieldset id="yeast-type" data-id="yeast-type">
        <label>Type de levure boulangère</label>
        <div class="radio">
          <input
            type="radio"
            id="yeast-fresh"
            name="yeast-type"
            value="Fraîche"
            checked
          />
          <label for="yeast-fresh">Fraîche</label>
        </div>
        <div class="radio">
          <input type="radio" id="yeast-dry" name="yeast-type" value="Sèche" />
          <label for="yeast-dry">Sèche</label>
        </div>
      </fieldset>
      <InputNum
        label="Taux de levure en g/kg de farine"
        id="yeast"
        min="0"
        max="5"
        step="0.1"
      />
      <span id="yeast-caption">
        équivalence levure
      </span>
      <button id="compute" type="submit" value="Calculer">Calculer</button>
    </form>

    <Modale />
    <Overlay />
  </main>
</Layout>

<script>
  type Div = HTMLElement | null | undefined;
  let overlay: Div;

  // onSubmit sur le form pour récupérer toutes les valeurs en une passe
  // voir aussi form data

  document.addEventListener("DOMContentLoaded", function () {
    let element = document.getElementById("pizza");
    element?.addEventListener("submit", onCompute);

    // Listen to each change in the yeast domain
    element = document.getElementById("yeast-fresh");
    element?.addEventListener("input", onYeastChange);

    element = document.getElementById("yeast-dry");
    element?.addEventListener("input", onYeastChange);

    element = document.querySelector('input[name="yeast"]');
    element?.addEventListener("input", onYeastChange);

    element = document.querySelector('button.less[data-id="yeast"]');
    console.log(element);
    element?.addEventListener("click", onYeastChange);

    element = document.querySelector('button.more[data-id="yeast"]');
    console.log(element);
    element?.addEventListener("click", onYeastChange);
    
    // Ensure the yeast equivalence is computed at startup
    element?.click();

    // Hide the overlay
    overlay = document.getElementById("overlay");
    if (overlay) {
      overlay.style.visibility = "hidden";
    }
  });

  function onCompute(e: Event) {
    // data computing is made in the modale submit callback.
    console.log("onComputer");

    e?.preventDefault();
    const dialog = document.querySelector("dialog");
    if (dialog) {
      dialog.style.visibility = "visible";
      dialog.showModal();
      if (overlay) {
        overlay.style.visibility = "visible";
      }
    }
  }

  function onYeastChange(e: Event) {
    // Get the yeast value
    let yeastInput: HTMLInputElement | null = document.querySelector(`input[name="yeast"]`);
    let yeast: number = yeastInput ? Number.parseFloat(yeastInput.value) : 0;
    // Get the yeast type
    let selectedYeast = document.querySelectorAll('input[name="yeast-type"]:checked');
    // let selectedYeast = document.querySelectorAll('input[name="yeast-type"]:checked')[0].id;
    if(selectedYeast) {
      let yeastEquivalent: string = "";
      let yeastEquivalentWeight: number = 0;
      if(selectedYeast[0].id === "yeast-fresh") {
        yeastEquivalent = "sèche";
        yeastEquivalentWeight = yeast / 2.5;
      } else if (selectedYeast[0].id === "yeast-dry") {
        yeastEquivalent = "fraîche";
        yeastEquivalentWeight = yeast * 2.5;
      }
      else {
        alert("erreur sur le type de levure");
      }

      let captionText: string = "Equivaut à " + yeastEquivalentWeight.toFixed(1) + " g de levure " + yeastEquivalent + " par kg de farine.";
      let caption: HTMLElement | null = document.getElementById("yeast-caption");
      if(caption) {
        caption.textContent = captionText;
      }
    }
  }
</script>

<style>
  main {
    display: flex;
    flex-direction: column;
    margin: auto;
    max-width: calc(100% - 2rem);
    color: white;
    font-size: 20px;
    line-height: 1.6;
    padding-bottom: 2rem;
    align-items: center;
    gap: 2rem;
  }

  #header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 1rem;
  }

  h1 {
    font-size: 2.5rem;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    color: var(--italian-green);
    text-shadow: 8px 8px 16px var(--italian-green);
  }

  h2 {
    text-align: center;
    color: #999;
  }

  fieldset {
    border: none;
    width: 100%;
  }

  fieldset > label {
    color: var(--main-color);
    font-weight: 500;
  }

  .radio {
    padding: 0.25rem 0;
    display: flex;
    gap: 0.5rem;
    align-items: center;
  }

  .radio label {
    color: black;
  }

  input[type="radio"] {
    width: 1.5rem;
    height: 1.5rem;
  }

  #yeast-caption {
    /* visibility: hidden; */
    margin-top: -0.5rem;
  }
</style>
