---
import { Image } from 'astro:assets';
const { id, type, value, symbol } = Astro.props;
---

<div class="ingredient" id={id}>
  <div class="left">
    <Image src={symbol} alt="" />
    <span class="type">{type}</span>
  </div>
  <span class="value">{value}</span>
</div>

<style>
</style>
