---
import { Image } from 'astro:assets';
const { id, type, value, symbol } = Astro.props;
---

<div class="ingredient" id={id}>
  <div class="left">
    <Image src={symbol} alt="" />
    <span class="type">{type}</span>
  </div>
  <span class="value">{value}</span>
</div>

<style>
.ingredient {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0;
  border-bottom: 1px solid #ccc;
  font-size: 1.3rem;
}

.left {
  display: flex;
  align-items: center;
}

.left img {
  width: 3rem;
  height: 3rem;
  margin-right: 0.5rem;
}

.type {
  margin-left: 0.5rem;
  color: #777;
}

.value {
  font-weight: bold;
}
</style>
