---
import { languages } from '../i18n/ui';
// Object.entries(languages).map(([lang, label]) => (
//   console.log("picker: ", lang)
// ))
---
<ul>
  {Object.entries(languages).map(([lang, label]) => (
    <li>
      <a href={`/${lang}/`}>{label}</a>
    </li>
  ))}
</ul>

<style>
  ul {
    display: flex;
    height: 2rem;
    width: 100%;
    justify-content: center;
    list-style-type: none;
    gap: 2rem;
  }
</style>
