---
import { languages } from '../i18n/ui';
import { getLangFromUrl, useTranslations } from '../i18n/utils';

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);

---
<ul>
  {Object.entries(languages).map(([lang, label]) => (
    <li>
      <a href={`/${lang}/`}>{label}</a>
    </li>
  ))}
  <a id="mi-about" href={`/${lang}/about`}>{t('nav.about')}</a>
</ul>

<style>
  ul {
    display: flex;
    height: 2rem;
    width: 100%;
    justify-content: center;
    list-style-type: none;
    gap: 2rem;
  }

  #mi-about::before {
    content: "|";
    float: left;
    margin-right: 2rem;
  }
</style>
