---
---

<div class="overlay" id="overlay">
  <div class="overlay-inner" id="overlay-green"></div>
  <div class="overlay-inner" id="overlay-white"></div>
  <div class="overlay-inner" id="overlay-red"></div>
</div>

<style>
  .overlay {
    display: flex;
    z-index: 1000;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  #overlay .overlay-inner {
    width: 33.3%;
    height: 100%;
  }

  #overlay-green {
    background-color: var(--italian-green);
  }

  #overlay-white {
    background-color: white;
  }

  #overlay-red {
    background-color: var(--italian-red);
  }
</style>